/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/buttons.scss */
.sharing-buttons a {
  display: table;
  float: left;
  text-decoration: none;
  transition: background 1s;
}
/* line 22, ../sass/buttons.scss */
.sharing-buttons a:hover {
  text-decoration: none;
}
/* line 25, ../sass/buttons.scss */
.sharing-buttons a:nth-child(1) {
  /*Twitter Button*/
  background: #23abf2;
}
/* line 28, ../sass/buttons.scss */
.sharing-buttons a:nth-child(1):hover {
  background-color: #23abf2;
}
/* line 10, ../sass/buttons.scss */
.sharing-buttons a:nth-child(1):hover:hover {
  background-color: #0b80bd;
}
/* line 32, ../sass/buttons.scss */
.sharing-buttons a:nth-child(2) {
  /*Facebook Button*/
  background: #3b5998;
}
/* line 34, ../sass/buttons.scss */
.sharing-buttons a:nth-child(2):hover {
  background-color: #3b5998;
}
/* line 10, ../sass/buttons.scss */
.sharing-buttons a:nth-child(2):hover:hover {
  background-color: #263961;
}
/* line 38, ../sass/buttons.scss */
.sharing-buttons a:nth-child(3) {
  /*Google Button*/
  background: #c7392c;
}
/* line 40, ../sass/buttons.scss */
.sharing-buttons a:nth-child(3):hover {
  background-color: #c7392c;
}
/* line 10, ../sass/buttons.scss */
.sharing-buttons a:nth-child(3):hover:hover {
  background-color: #88271e;
}
/* line 44, ../sass/buttons.scss */
.sharing-buttons a:nth-child(4) {
  /*Linkdin Button*/
  background: #007bb6;
}
/* line 47, ../sass/buttons.scss */
.sharing-buttons a:nth-child(4):hover {
  background-color: #007bb6;
}
/* line 10, ../sass/buttons.scss */
.sharing-buttons a:nth-child(4):hover:hover {
  background-color: #00476a;
}
/* line 51, ../sass/buttons.scss */
.sharing-buttons a p {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5;
}

/* line 67, ../sass/buttons.scss */
.sharing-buttons.horiz {
  width: 400px;
  height: 40px;
  margin: 20px auto;
}
/* line 71, ../sass/buttons.scss */
.sharing-buttons.horiz a {
  height: 100%;
  width: 24%;
  margin: 0 0.5px;
}

/* line 78, ../sass/buttons.scss */
.sharing-buttons.vert {
  height: 200px;
  width: 150px;
  margin: 20px auto;
}
/* line 82, ../sass/buttons.scss */
.sharing-buttons.vert a {
  height: 24%;
  width: 100%;
  margin: 0.5px 0;
}
